<!DOCTYPE html>
<html>
<head>
	<title>Pavement Pounder</title>
  <% include ./_connections %>

</head>
<body>
<% include ./_navbar %>
<div class='container'>
  <div id='business_files'>
  <!-- three tabs representing the three folders (current, backburner, don't contact) --> 
    <div id="files" data-toggle="tab">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col-md-3 active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#burner" aria-controls="burner" role="tab" data-toggle="tab">Back Burner Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#no_contact" aria-controls="no_contact" role="tab" data-toggle="tab">Do Not Contact List</a></li>
      </ul>

      <!-- Tab panes -->
      <div id='companyProfile'class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="current">
          <h2>Current Companies You are Pursuing</h2>
          <%for (var i=0; i < companies.length; i++) { %>
            <div class="col-sm-6">
              <div class='well'>
                <h4 class="list-group-item-heading"><%= companies[i].companyName %></h4>
                <span class='list-group-item-text'><%= companies[i].companyCity %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyPhone %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyEmail %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyContact1 %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyContact2 %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyAddress %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyHotness %></span></br>
                <span class='list-group-item-text'><%= companies[i].companyTime %></span></br>
                <button data-id="<%=companies[i].id %>" class='close' aria-label='Close'><span aria-hidden='true'>Delete Profile</span></button>
              </div>
            </div>
          <% } %>
        </div>
        <div role="tabpanel" class="tab-pane" id="burner">
          <h2>Back Burner Companies</h2>
          <div class="panel panel-default">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="no_contact">
          <h2>Do Not Contact List</h2>
          <div class="panel panel-default">
          </div>
        </div>
    </div>
  </div>

  </div>
  </div>
</div>
</body>