<!DOCTYPE html>
<html>
<head>
	<title>Network Organizer</title>
  
<% include ./_connections %>
</head>
<body>
<% include ./_navbar %>
<div class='container'>
<h1>All your Company by File</h1>
<p>Below you will find a list of all the companies you are following.  You can see more details about each company by clicking the 'View Profile" button or you can remove the company from your profile completely by clicking the delete button.</p>
<h3>Use the files below to add additional filters to your companies you want to concentrait on.</h3>

  <div id='business_files'>
  <!-- three tabs representing the three folders (current, backburner, don't contact) --> 
    <div id="files" data-toggle="tab">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col-md-3 active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#burner" aria-controls="burner" role="tab" data-toggle="tab">Back Burner Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#no_contact" aria-controls="no_contact" role="tab" data-toggle="tab">Do Not Contact List</a></li>
      </ul>

      <!-- Tab panes -->
      <div id='companyProfile'class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="current">
          <h2>Current Companies You are Pursuing</h2>
          <p>Current companies should be used for the companies you are activly networking with, and want to keep high on your radar.  Click on the 'View Profile" button to add even reminders like: send email greeting, set up interview or go to a networking event.</p>
          <%for (var i=0; i < companies.length; i++) { %>
            <div class="col-sm-6 card">
              <div id='<%= companies[i]._id %>' class='well'>
                <h4 class="list-group-item-heading"><%= companies[i].name %></h4>
                <span class='list-group-item-text'><%= companies[i].city %></span></br>
                <span class='list-group-item-text'><%= companies[i].phone %></span></br>
                <span class='list-group-item-text'><%= companies[i].email %></span></br>
                <span class='list-group-item-text'><%= companies[i].contact1 %></span></br>
                <span class='list-group-item-text'><%= companies[i].contact2 %></span></br>
                <span class='list-group-item-text'><%= companies[i].address %></span></br>
                <span class='list-group-item-text'>This company has a hotness level of:<%= companies[i].hotness %></span></br>
                <span class='list-group-item-text'>You have been watching this company since:<%= companies[i].createdAt %></span></br>
                <!--company profile button -->
                <button name='<%= companies[i]._id %>' class="view_co"> View Profile</button> 
                <!--delete button -->
                <button data-id="<%=companies[i].id %>" class='close' aria-label='Close'><span aria-hidden='true'>Delete Profile</span></button>
              </div>
            </div>
          <% } %>
        </div>
        <div role="tabpanel" class="tab-pane" id="burner">
          <h2>Back Burner Companies</h2>
          <p>This is a place for the companies that you want to keep in your profile but not work with right away.  When you are ready to be more active with this company, boost them up to 'Current Companies' file.  You can add reminders to this company by clicking the "View Profile" button</p>
          <div class="panel panel-default">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="no_contact">
          <h2>Do Not Contact List</h2>
          <p>This file is a place for you to keep track of companies that you don't want to build a connection with, but also don't want to forget either.  When working with lots of companies in your network sometimes it is hard to keep everything straight and this folder can make sure you don't connect with someone you didn't want to.</p>
          <div class="panel panel-default">
          </div>
        </div>
    </div>
  </div>

  </div>
  </div>
</div>
</body>