<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
  <% include ./_connections %>

</head>
<body>
<% include ./_navbar %>
<div class='container'>
  <div class="row">
    <div id='companyinfo' class="col-sm-4"> 
      <div id='companysidenav' class="well">
      <img src="<%= company.logo %>">
        <h1><%= company.name %></h1>
        <p>  You have been connected to this company since: <%= company.createdAt %></p>
        </br>
        <p></p>
        </br>
        <h3>Upcoming events</h3>
        <p>coming soon a list of all of your reminders related to this specific company</p>
      </div>   
  </div>
    <div class='col-sm-8'>
      <div id='companycontent' class='well'>
      <form id='company_profile'>
        <h3 class="list-group-item-heading"><%= company.name %></h3>
        <ul>
          <li>
            <span class='list-group-item-text profile'><%= company.address %></span></br>
              <label class='editing'>Company Address:</label>
              <input id='changeAddress' class='editing' type='text' name='address' value='<%= company.address %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.city %></span></br>
              <label class='editing'>Company City:</label>
              <input id='changeCity' class='editing' type='text' name='city' value='<%= company.city %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.phone %></span></br>
              <label class='editing'>Company Phone:</label>
              <input id='changePhone' class='editing' type='text' name='phone' value='<%= company.phone %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.email %></span></br>
              <label class='editing'>Company E-mail:</label>
              <input id='changeEmail' class='editing' type='text' name='email' value='<%= company.email %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.contact1 %></span></br>
              <label class='editing'>Company Contact 1:</label>
              <input id='changeContact1' class='editing' type='text' name='contact1' value='<%= company.contact1 %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.contact2 %></span></br>
              <label class='editing'>Company Contact 2:</label>
              <input id='changeContact2' class='editing' type='text' name='contact2' value='<%= company.contact2 %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'>Company rating from Glassdoor: <%= company.rating %></span>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.website %></span></br>
              <label class='editing'>Company Website:</label>
              <input id='changewebsite' class='editing' type='text' name='website' value='<%= company.website %>'></input>
          </li>
          <li>
            <span class='list-group-item-text profile'><%= company.logo %></span></br>
              <label class='editing'>Company Logo:</label>
              <input id='changelogo' class='editing' type='text' name='logo' value='<%= company.logo %>'></input>
          </li>
          <li>
            <span id='filebutton' class='list-group-item-text profile'>Company is currently filed under: <%= company.status %></span></br>
              <label class='editing'>Company File:</label></br>
              <input class='editing' type="radio" name='status' value="current" checked="checked">Current Companies:</input></br>
              <input class='editing' type="radio" name='status' value="burner">Back Burner Companies</input></br>
              <input class='editing' type="radio" name='status' value="no_contact">Do Not Contact</input>
          </li>
          <li id='changeHotness'>
            <span class='list-group-item-text profile'>Hotness level of: <%= company.hotness %></span></br>
              <label class='editing'>Company Hotness Level:</label>
              <input class='editing' type="radio" name='hotness' value="1">1</input>
              <input class='editing' type="radio" name='hotness' value="2">2</input>
              <input class='editing' type="radio" name='hotness' value="3">3</input>
              <input class='editing' type="radio" name='hotness' value="4">4</input>
              <input class='editing' type="radio" name='hotness' value="5">5</input></br>
          </li>
        
        
        </ul>
        <!--cancel edit profile  button -->
         <button data-id="<%=company.id %>" class='editing cancel' aria-label='Close'><span aria-hidden='true'>Cancel</span></button>
        <!--save profile edits button -->
         <button data-id="<%=company.id %>" class='editing save' aria-label='Close'><span aria-hidden='true' type='submit'>Save Changes</span></button>
        <!--edit profile  button -->
         <button data-id="<%=company.id %>" class='profile' aria-label='Close'><span aria-hidden='true'>Edit Profile</span></button>
        <!--delete button -->
         <button data-id="<%=company.id %>" class='close' aria-label='Close'><span aria-hidden='true'>Delete Profile</span></button>
       </div>
       </form>

      </div>
    </div>   
  </div>
  </div>
  <% include ./_footer %>
</body>