<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
  <% include ./_connections %>

</head>
<body>
<% include ./_navbar %>
<div class='container col-sm-12'>
  <div id='user_profile' >
  <!--customized info box about the user-->
  <div id='userinfo' class="well col-sm-4"> 
  <h1><%= user.name %></h1>
  <p>  Here is your snap shot of your network.</p>
  </br>
  <p>You currently have <%= companies.length +1 %> that you are following right now.</p>
  </br>
  <h3>Upcoming events</h3>
  <p>coming soon a list of all of your reminders</p>
    
  </div>

  <div id="headlines" class='well col-sm-8' >
    <div>
      <h3>5 companies from your hot list</h3>
      <%for (var i=0; i < companies.length; i++) { %>
        <% if (companies[i].hotness ==5) { %>
        <div class="col-sm-11">
          <div id='<%= companies[i]._id %>' class='well'>
            <h5 class="list-group-item-heading"><%= companies[i].name %></h5>
            <span class='list-group-item-text'><%= companies[i].city %></span></br>
            <span class='list-group-item-text'>This company has a hotness level of:<%= companies[i].hotness %></span></br>
             <button name='<%= companies[i]._id %>' class="view_co"> View Profile</button> 
          </div>
        </div>
        <%}%>
      <%}%>
    </div>
  </div>
 
  <!-- three tabs representing the three folders () --> 
    <div id="files" data-toggle="tab">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col-md-3 active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#burner" aria-controls="burner" role="tab" data-toggle="tab">Back Burner Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#no_contact" aria-controls="no_contact" role="tab" data-toggle="tab">Do Not Contact List</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="current">
          <h2>Current Companies You are Pursuing</h2>
        </div>
        <div role="tabpanel" class="tab-pane" id="burner">
          <h2>Back Burner Companies</h2>
          <div class="panel panel-default">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="no_contact">
          <h2>Do Not Contact List</h2>
          <div class="panel panel-default">
          </div>
        </div>
    </div>
  </div>

  </div>
  </div>
</div>
</body>